

$font-family: "Sukhumvit Set", "Avenir Next", 'Helvetica Neue', tahoma, sans-serif;

$text-color: #484848;
$text-link-color: #6585e1;
$text-link-hover-color: darken($text-link-color, 5%);

$separator-color: #EEEEEE;

$container-max-width: 55rem;
