@import 'variables';
@import 'base';

.container {
  max-width: 55em;
  margin: 0 auto;
}

#header {
  display: block;
  min-height:200px;
}

main {
  display:block;
  min-height:300px;
}

.section{

}

.section-header {
  position: relative;
  border-top: 1px solid #EEEEEE;
}

.section-header-title {

  position: absolute;
  top: -14px;
  margin: 0;
  padding: 0 20px;

  font-size: 1.125em;

  background: #FFFFFF;
  color:#606060;

}


.blog-post-list {
  list-style: none;
}

.blog-post-preview {
  padding: 30px 20px;
  width:50%;
  float:left;
  height: 400px;
  border-bottom:1px solid #EEEEEE;

  &:nth-child(2n+1){
    border-right:1px solid #EEEEEE;
  }

  .post-title {
    font-size: 1em;
    line-height: 1.625em;

    a,
    a:active,
    a:visited {
      text-decoration: none;
      color: $text-link-color;

    }

    a:hover {
      color: $text-link-hover-color;
    }
  }

  .post-excerpt {
    font-size: 0.875em;
  }

  .post-thumbnail-wrap{
    width:400px;
    height:200px;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 4px;

    a{
      width:100%;
      height:100%;
      display: block;
    }

    img{
      width: 100%;
      height: auto;
      margin-top: 0%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.blog-post {
  .post-header{
    position: relative;
    margin-bottom: 40px;
    width: $container-max-width;

    .post-title {

      margin: 0;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1.5em;
      color: #4E4E4E;

      width:600px;

      float: left;


    }
  }

  .post-meta {

    margin-left: 620px;

    .post-time {
      display: block;
      width: 80px;
      float: left;
      font-family: "Helvetica Neue", Arial, sans-seref;
      -webkit-font-smoothing: antialiased;
    }

    .date {
      font-family: Helvetica, Arial, sans-seref;
      float: left;
      font-size: 36px;
      color: #C0C0C0;
      line-height: 36px;
      -webkit-font-smoothing: antialiased;
    }

    .month {
      display: block;
      line-height: 16px;
      color: #C0C0C0;
      padding-top: 2px;
      margin-left: 44px;
      text-transform: uppercase;

    }

    .year {
      display: block;

      line-height: 16px;
      color: #C0C0C0;
      margin-top: -2px;
      margin-left: 44px;

    }

    a.post-category {
      color: #C0C0C0;
      text-decoration:none;
      float:right;
      line-height: 36px;

      background: transparent url(../images/category-icon.svg) no-repeat;
      background-size: 33px 33px;

      padding-left: 44px;
    }
  }

  .post-hero-image {

    margin-bottom: 40px;
    text-align: center;
    img{
      max-width:100%;

    }
  }



  .post-content {
    max-width: 45em;
    margin: 0 auto;
    padding-bottom: 60px;
    font-size:1.0625em;

    p {
      margin: 1.625em 0;
    }


    h3 {
      font-size: 1.5em;
      font-weight: normal;
      margin: 1.625rem 0;
      color: darken($text-color, 5%);
    }

    blockquote {
      display: block;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left:0;
      margin-right:0;
      width: $container-max-width;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      font-size: 1.125rem;
      line-height: 1.875rem;
      color: #909090;
    }


    div[class^='fb-'] {
      display:block;
      text-align:center;
    }

    > iframe {
      display: block;
      max-width: 55em;
      padding: 0.6em 0;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .blog-comments {

    padding-top: 40px;
    .fb-comments {
      display: block;
      text-align: center;
    }


  }

  .jetpack-video-wrapper {
    display:block;
    text-align:center;
  }
}



footer {
  display: block;
  min-height: 300px;
}


@import 'helper';
@import 'media';
